<div class="header">
	<div class="header__container">	
		<div class="header__quote" style="background-color: <%= @quote.background_colour %>; color: <%= @quote.text_colour %>;">
			<div class="header__line" style="border-right: 1px solid <%= @quote.text_colour %>;"></div>
			<span class="header__hashtag" style="border: 1px solid <%= @quote.text_colour %>;">#unboxed thinkers</span>
			<div class="header__quote-attribution"><%= @quote.attribution %></div>
			<div class="header__quote-text"><%= @quote.body.html_safe %></div>
		</div>
		<div class="header__image" style="background-image: url('<%= @quote.image_url %>')">
		</div>
	</div>
	<div class="header__padding"></div>
	<div class="header__nav">
		<div class="header__nav-icon header__nav-icon--left">
			<%= image_tag 'menu-icon', :onclick => "openNav()" %>
		</div>
		<div class="header__title">unboxedfeed</div>
		<div class="header__nav-icon header__nav-icon--right">
			<%= image_tag 'search-icon' %>
		</div>
	</div>
</div>
