<%= link_to tweet.url, :target => "_blank" do %>
	<div class="content-item content-item--tweet">
		<div class="content-item__textbox">
			<div class="content-item__text">
				<p class="content-item__tweet-body"><%= tweet.title.html_safe %></p>
				<p class="content-item__author"><%= link_to "@#{tweet.author}", "https://twitter.com/#{tweet.author}" %></p>
				<div class="content-item__icon">
					<%= image_tag 'twitter-icon' %> 
				</div>
			</div>
			<div class="content-item__tags">
				<% tweet.tag_list.each do |tag| %>
					<span class="content-item__tag">
						// <%= tag.downcase %>
					</span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
