<div class="menu">
	<h1>unboxed feed</h1>
</div>
<div class="feed">
	<% @content_items.each do |item| %>
		<div class="item-alt">
			<% if item.category === 'tweet' %>
				<p><%= link_to item.title, item.url %></p>
				<p><%= item.category %></p>
				<p><%= link_to "@#{item.author}", "https://twitter.com/#{item.author}" %></p>
				<p><%= item.published_at %></p>
			<% else %>
				<p><%= link_to item.title, item.url %></p>
				<p><%= item.category %></p>
				<p><%= item.author %></p>
				<p><%= item.published_at %></p>
			<% end %>
		</div>
	<% end %>
</div>

