<div class="menu">
	<p>
		unboxed<br/>
		<span class="large-text">feed</span>
	</p>
</div>
<div class="feed">
	<% @content_items.each_with_index do |item, index| %>
		<%= link_to item.url do %>
			<% if item.category == "tweet" %>
				<div class="item">
					<div class="tweet-image">
						<div class="tweet-info">
							<p class="category"><%= item.category.capitalize %></p>
							<p class="text"><%= item.title %></p>
						</div>
						<p class="author"><%= link_to "@#{item.author}", "https://twitter.com/#{item.author}" %></p>
					</div>
				</div>
			<% else %>
				<div class="<%= item_class(index) %>">
					<div class="item-image">
						<% if item_class(index) == 'item-large' %>
							<div class="item-info-top">
								<span class="category"><%= item.category.capitalize %></span>
								<p class="title-top"><%= item.title %></p>
								<p class="tags-light">
									<% item.tag_list.each do |tag| %>
										<span class="tag">
											<%= tag %>
										</span>
									<% end %>
								</p>
							</div>
						<% end %>
					</div>
					<div class="item-info">
						<p class="category"><%= item.category.capitalize %></p>
						<p class="title-trunc"><%= item.title.truncate_words(10) %></p>
						<p class="title"><%= item.title %></p>
						<p class="tags">
							<% item.tag_list.each do |tag| %>
								<span class="tag">
									<%= tag %>
								</span>
							<% end %>
						</p>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
